openapi: 3.1.0
info:
  title: UUIDify API
  version: "1.0.0"
  description: |
    Blazing-fast public UUID/ULID generator API.

    Generates UUID v1/v4/v7 and ULIDs with JSON or newline-delimited text output.

servers:
  - url: https://api.uuidify.io

paths:
  /:
    get:
      summary: Generate UUIDs or ULIDs
      description: |
        Generates UUIDs or ULIDs using the specified algorithm and version.
        Supports single and batch generation via `count`.

      parameters:
        - name: algorithm
          in: query
          description: Generator algorithm (`uuid` or `ulid`)
          schema:
            type: string
            enum: [uuid, ulid]
            default: uuid

        - name: version
          in: query
          description: UUID version (`v1`, `v4`, `v7`) or `ulid`.
          schema:
            type: string
            enum: [v1, v4, v7, ulid]
            default: v4

        - name: count
          in: query
          description: Number of identifiers to generate (1–1000)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1

        - name: format
          in: query
          description: Response format (`json` or `text`)
          schema:
            type: string
            enum: [json, text]
            default: json

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UUIDResponseSingle'
                  - $ref: '#/components/schemas/UUIDResponseBatch'
                  - $ref: '#/components/schemas/ULIDResponseSingle'
                  - $ref: '#/components/schemas/ULIDResponseBatch'

            text/plain:
              description: Newline-delimited identifiers
              schema:
                type: string
                example: |
                  550e8400-e29b-41d4-a716-446655440000
                  6ba7b814-9dad-11d1-80b4-00c04fd430c8

        "400":
          description: Client validation or decoding error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RequestError'
                  - $ref: '#/components/schemas/DecodeError'

        "500":
          description: API processing error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

components:
  schemas:
    UUIDResponseSingle:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
      required: [uuid]

    UUIDResponseBatch:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
      required: [uuids]

    ULIDResponseSingle:
      type: object
      properties:
        ulid:
          type: string
      required: [ulid]

    ULIDResponseBatch:
      type: object
      properties:
        ulids:
          type: array
          items:
            type: string
      required: [ulids]

    RequestError:
      type: object
      properties:
        error:
          type: string
          example: invalid parameter
        detail:
          type: string
          example: count must be between 1 and 1000
      required: [error]

    DecodeError:
      type: object
      properties:
        error:
          type: string
          example: decode error
        detail:
          type: string
          example: invalid request encoding
      required: [error]

    APIError:
      type: object
      properties:
        error:
          type: string
          example: internal error
        detail:
          type: string
          example: failed to generate identifier
      required: [error]
