package {{ .Package }}

import (
	"context"
	"encoding/json"
	"net/http"
)

type Client struct {
	baseURL string
	client  *http.Client
}

func NewClient(baseURL string) *Client {
	return &Client{
		baseURL: baseURL,
		client:  http.DefaultClient,
	}
}

{{ range .ClientMethods }}
// {{ .Name }} {{ .Description }}
func (c *Client) {{ .Name }}(ctx context.Context{{ range .Params }}, {{ .Name }} {{ .Type }}{{ end }}) ({{ .ReturnType }}, error) {
	url := c.baseURL + "{{ .Path }}"

	req, err := http.NewRequestWithContext(ctx, "{{ .Verb }}", url, nil)
	if err != nil {
		return {{ .ZeroReturn }}, err
	}

	resp, err := c.client.Do(req)
	if err != nil {
		return {{ .ZeroReturn }}, err
	}
	defer resp.Body.Close()

	var out {{ .ReturnType }}
	if err := json.NewDecoder(resp.Body).Decode(&out); err != nil {
		return {{ .ZeroReturn }}, err
	}

	return out, nil
}
{{ end }}
